html {
  box-sizing: border-box;
}

body {
  margin:0;
  background: #e6e6e6;
	display: flex;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	margin-top: 0px;
}

.container {
	width: 1000px;
	height: auto;
	padding: 5px 15px;
}

.list-wrppr {
	background-color: aqua;
}

.lst-content {
	width: 1000px;
	margin: auto;
}

table {
	border-collapse: collapse;
	width: 100%;
	/* background-color: #f5f5f5; */
	margin-bottom: auto;
}

tr {
	height: 40px;
}
td {
	padding: 10px 5px;
}

.lst-content thead {
	height: 30px;
	border-bottom: 1px solid #555;
	/* background-color: pink; */
}

.crnt-data .edit-rw {
	width: 20%;
	text-align: center;
	margin: auto;
	background: linear-gradient(360deg, rgba(0,0,0,0) 80%, rgba(160,160,160,1) 100%);
}

.main-rw td:last-child {
	text-align: center;
}

.active .inpt-fld {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #585858;
	background-color: #ffffff;
	color: #aaa;
}

.edit-rw .cntrl-pnl {
	width: 20%;
	text-align: center;
	margin: auto;
}

.edit-btn {
	color: #555;
}

.edit-btn:hover {
	filter: opacity(0.25);
}

.new-data {
	border-top: 1px solid #555;
}
